.ts {
    width: 200px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(115, 150, 20);
    border: solid 5px rgb(24, 133, 42)
}
.fearless {
    width: 190px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(228, 224, 19);
    border: solid 5px rgb(172, 148, 15)
}

.sn {
    width: 180px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(150, 20, 150);
    border: solid 5px rgb(78, 15, 78)
}

.red {
    width: 170px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(214, 15, 15);
    border: solid 5px rgb(116, 6, 6)
}

.nen {
    width: 160px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(89, 182, 236);
    border: solid 5px rgb(17, 139, 221)
}

.rep {
    width: 150px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(39, 37, 37);
    border: solid 5px black
}

.lover {
    width: 140px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(230, 65, 166);
    border: solid 5px rgb(199, 16, 144)
}

.folklore {
    width: 130px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(105, 102, 105);
    border: solid 5px rgb(78, 76, 78)
}

.evermore {
    width: 120px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(99, 54, 20);
    border: solid 5px rgb(66, 41, 20)
}

.midnights {
    width: 110px;
    text-align: center;
    height: 50px;
    margin-top: 25px;
    padding: 20px;
    background-color: rgb(53, 53, 226);
    border: solid 5px darkblue;
}
